input[type=text] {
    width: 80%;
    padding: 20px;
    margin: 8px 65px;
    box-shadow: border-box;
    border: 2px solid blue;
    background-color: #f3f3f3;
    color: #333;
}
label{
    margin: 10px 65px;
}

p {
    margin: 8px 65px;
}

#lgender {
    margin: 8px 65px;

}

#dob {
    margin: 8px 65px;
}

.Container{
    width: 70%;
    padding: 12px 20px;
    margin: 100px 12.5%;
    box-shadow: border-box;
    border: 2px solid blue;
    background-color: #f3f3f3;
    color: #333;
    border-radius: 20px;
}

img {
    padding: 10px 20px;
    background-color: white;
    border-radius: 50%;
    border-left: 50%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.container li{
    text-decoration: none;
}